/* Bell Notification Icon */
.bell-icon {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 35px;
    right: 225px;
    z-index: 99;
}

/* Notification Popup Style */
.notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    max-height: 500px;
    overflow-y: auto;
}

.notification-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.notification-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.notification-content {
    flex-grow: 1;
}

.notification-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.notification-message {
    font-size: 12px;
    color: #555;
}

.notification-time {
    font-size: 10px;
    color: #999;
    margin-top: 5px;
}

.close-popup {
    cursor: pointer;
    float: right;
}



.custom-btn {
    background-color: #f39c12;
    border-color: #f39c12;
    color: white;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}